name: magic_life_wheel
description: "A simple life counter app."
publish_to: 'none'

version: 1.9.13+31

environment:
  sdk: '>=3.9.0 <4.0.0'
  flutter: '>=3.35.0'

dependencies:
  flutter:
    sdk: flutter
  
  wakelock_plus: ^1.4.0
  gap: ^3.0.1
  dynamic_color: ^1.7.0
  package_info_plus: ^9.0.0
  flutter_svg: ^2.0.10
  url_launcher: ^6.3.0
  json_annotation: ^4.9.0
  shared_preferences: ^2.2.3
  collection: ^1.18.0
  string_normalizer: ^0.4.0
  uuid: ^4.4.0
  keyrune_icons_flutter: ^3.17.1
  auto_size_text:
    git:
      url: https://github.com/j7126/auto_size_text.git
      ref: v3.0.x
  mana_icons_flutter: ^1.18.0
  image_picker: ^1.1.2
  image: ^4.2.0
  tab_container: ^3.5.3
  barcode_widget: ^2.0.4
  flutter_zxing: ^2.1.0
  camera: ^0.11.0+1
  system_info2: ^4.0.0
  app_links: ^7.0.0
  web: ^1.1.0
  flutter_fullscreen: ^1.2.0
  protobuf: ^6.0.0

dev_dependencies:
  flutter_lints: ^6.0.0
  flutter_launcher_icons: ^0.14.2
  build_runner: ^2.4.11
  json_serializable: ^6.8.0

flutter:
  uses-material-design: true

  assets:
    - assets/icon/logo.svg
    - data/all_cards.bin
    - data/set_list.json

  fonts:
    - family:  CustomIcons
      fonts:
       - asset: fonts/CustomIcons.ttf

flutter_launcher_icons:
  android: true
  ios: true
  remove_alpha_ios: true
  image_path: "assets/icon/logo.png"
  min_sdk_android: 21 # android min sdk min:16, default 21
  adaptive_icon_background: "#5fb356"
  adaptive_icon_foreground: "assets/icon/logo_fg.png"
  web:
    generate: true
    image_path: "assets/icon/logo.png"
    background_color: "#5fb356"
    theme_color: "#5fb356"
  windows:
    generate: true
    image_path: "assets/icon/logo.png"
    icon_size: 48 # min:48, max:256, default: 48
  macos:
    generate: true
    image_path: "assets/icon/logo.png"

platforms:
  android:
  linux:
  windows:
  web:
